<div class="ads_content">
	PUBLICITAT
<script type='text/javascript'>
    OA_show(<%= ad_zone %>);
</script><noscript><a target='_blank' href='http://openx.impulzia.com/www/delivery/ck.php?n=<%= ad_code %>'><img border='0' alt='' src='http://openx.impulzia.com/www/delivery/avw.php?zoneid=6&amp;n=<%= ad_code %>' /></a></noscript>
</div>