<% if (@article.standar_images.count > 1)%>
	<div id="article_gallery">
	        <% @article.standar_images.each do |image_ob| %>
	
			<% image = image_ob.image.url(:detail) %>
			<% if image_ob.image_foot.nil?
					foot = ""
				else
					foot = image_ob.image_foot
				end %>
				
	        	<%= image_tag image_ob.image.url(:thumb), :class => 'img_gallery', :onclick => 'javascript:show_image('+"'"+image+"'"+','+"'"+foot+"'"+')' %>
	        <% end %>	
	</div>
<% end %>