<div id="article_gallery">
	<% if (@article.images.count > 1)%>
	
		<% @article.images.each do |image_ob| %>
			<%= image_tag image_ob.image.url(:thumb), :class => 'img_gallery', :onclick => 'javascript:show_image('+"'"+image_ob.image.url(:detail)+"'"+')' %>
		<% end %>
		
	<% end %>
</div>