<%= stylesheet_link_tag    "articleBox" %>

<div class="row">
	<div class="span6 articles_row general_row">
		<p id="news_header">News</p>
		<%= render :partial => 'box', :locals => {:articles => @articles} %>
	</div>
	<div class="span5 articles_row sports_row">
		<p id="sports_header">Sports</p>
		<%= render :partial => 'box', :locals => {:articles => @articles_sport}%>
	</div>
	<div class="span5 articles_row opinion_row"> 
		<p id="opinion_header">Opinion</p>
		<%= render :partial => 'box', :locals => {:articles => @articles_opinion}%>
	</div>
</div>
