<%= stylesheet_link_tag    "details" %>

<div class="row">
	<div class="span11">
		<%= render :partial => 'details', :locals => {:article => @articles} %>
	</div>
	<div class="span5">
		<p>Sidebar</p>
	</div>
</div>