
<div class="navigation">
	<ul>
      <li class="active portada"><%= link_to "Portada", root_path %></li>
      <!--<li class="portada"><a href="http://papiolfm.com/" target="_blank">Papiol FM (Ràdio amiga)</a></li>-->
	<div class="clearFloat"></div>
   </ul>
</div>