<div class="navigation">
	<ul>
      <li class="active portada"><%= link_to "Portada", root_path %></li>
      <li class=" mes_llegits"><a href="http://papioldigital.com/elstops.php?filtre=sempre&menu=tops">Els +</a></li>
      <li class=" enquestes"><a href="http://papioldigital.com/enquestes.php?menu=enquestes">Enquestes</a></li>
      <!--<li class="contactans"><a href="#">Colabos</a></li>-->
      <li class=" colabos"><a href="http://papioldigital.com/contacta.php?menu=contacta">Contacta</a></li>
      <!--<li class="mes_llegits"><a href="#">Envia'ns notícies</a></li>-->
      <!--<li class="envians"><a href="#">Setmana en imatges</a></li>-->
      <li class="portada"><a href="http://papiolfm.com/" target="_blank">Papiol FM (Ràdio amiga)</a></li>
      <div class="clearFloat"></div>
   </ul>
</div>