<div id="users_block">
	<% if user_signed_in? %>
		<p><b><%= t(:welcome)+" "+current_user.username %></b> <%= link_to t(:sign_out), destroy_user_session_path, :method => :delete, :class => "btn btn-danger btn-small" %></p>

	<% else %>
	
		 <%= link_to t(:register), new_user_registration_path, :class => "btn btn-default btn-small"%>  <%= link_to t(:sign_in), new_user_session_path , :class => "btn btn-small btn-success"%>

	<% end %>
</div>