<%= stylesheet_link_tag    "polls" %>

<div id="poll_box">
	<div id="poll_title">
		The poll of the week!
	</div>
	<div id="poll_content">
		<% if @poll.voted(request.remote_ip) == false %>
			<%= render :partial => 'polls/options', :locals => {:poll => @poll} %>
		<% else %>
			<%= render :partial => 'polls/results', :locals => {:poll => @poll} %>
		<% end %>
	</div>
</div>