<%= stylesheet_link_tag    "polls" %>

<div id="poll_box">
	<div id="poll_title">
		The poll of the week!
	</div>
	<div id="question">
		<%= @poll.question %>
	</div>
	
	<% @poll.poll_options.each do |option|  %>
	<%= link_to raw("<div class='option'>"+option.option+"</div>"), vote_poll_url(@poll,option),  :remote => true %> 
	<% end %>
</div>