<%= stylesheet_link_tag    "polls" %>

<div id="poll_box">
	<div id="poll_title">
		The poll of the week!
	</div>
	<div id="poll_content">
		<%= render :partial => 'polls/options', :locals => {:poll => @poll} %>
	</div>
</div>