<%= stylesheet_link_tag    "polls" %>

<div id="poll_box" class="article_box">
	<div class="article_box_title">
		<%=t(:the_poll_of_the_week)%>
	</div>
	<div id="poll_content">
        <% if @poll %>
          <% if @poll.voted(request.remote_ip) == false %>
            <%= render :partial => 'polls/options', :locals => {:poll => @poll} %>
          <% else %>
            <%= render :partial => 'polls/results', :locals => {:poll => @poll} %>
          <% end %>
        <% end %>
	</div>
</div>
