/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require bootstrap_modifications
 *= require base
 *= require_self
 *= require article_comments
 * require formtastic
*/
body{
	background-color:#F2F2F2;
	background-image:url(../assets/background.png);
}
#users_block{
	text-align:right;
	margin-top:20px;
}
.white{
	background-color:white;
	border:1px solid #ccc;
	/*padding: 0 0px 10px 10px;*/
	padding-bottom:10px;
	display:table;
	width:940px;
	margin-bottom:20px;
}
.col_left{
	float:left;
	width:300px;
	margin-left:10px;
}
.col_mid{
	float:left;
	width:300px;
	margin-right:9px;
	margin-left:9px;
}
.col_right{
	float:left;
	width:300px;
	margin-right:9px;
}
.col_left_article{
	float:left;
	width:600px;
	margin-right:10px;
	margin-left:11px;
	padding-right:10px;
	border-right:1px solid #ccc;
}
.col_right_article{
	float:left;
	width:295px;
	margin-top:10px;
	margin-right:11px;
}
.category_separator{
	margin-left:4px;
	margin-right:4px;
}
.btn-close{
	margin-left:10px;
}
.ads_content{
	background-color:#EEE;
	padding:5px;
	text-align:center;
	font-size:10px;
	font-family:arial;
}
.ads_cleaner{
	margin-top:10px;
	margin-bottom:10px;
}
#section_header{
	padding:30px 0 10px 20px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 46px;
	color: #069;         
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
	width:95%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
}
.left_padding{
	padding:5px 0 15px 20px;
}
.padding{
	padding-right:15px;
	padding-left:15px;
}
/*.user-panel{
	display:table;
	width:184px;
	margin-left:auto;
}
.user-text{
	float:left;
	margin-right:5px;
	margin-top:3px;
}
.user-comments{
	float:left;
}
.user-dropdown{
	width:162px;
	margin-left:auto;
}*/
#info_bar{
	background-color:white;
	padding:7px 0 0 7px;
	border:1px solid #ccc;
	margin-bottom:10px;
	text-align:center;
}
.like{
	font-size:20px;
	font-family:georgia;
	vertical-align:3px;
	color:#b0d133;
}
.stadistics{
	vertical-align:7px;
	color:#333;
	font-size:11px;
	font-family:verdana;
}
.btn-afegir{
	float:right;
}