/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require_tree .
 *= require formtastic
*/
body{
	background-color:#F2F2F2;
}
#users_block{
	text-align:right;
	margin-top:20px;
}
.white{
	background-color:white;
	border:1px solid #ccc;
}
.category_separator{
	margin-left:4px;
	margin-right:4px;
}
.btn-close{
	margin-left:10px;
}
.ads_content{
	background-color:#EEE;
	padding:5px;
	text-align:center;
	font-size:10px;
	font-family:arial;
}