// Place all the styles related to the ArticleComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a{
	color:#666;
	text-decoration:none;
}
a:hover{
	color:#903;
	text-decoration:none;
}
.comment_box{
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #CCC;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
	background-color: #F9F9F9;
}
.comment_social {
	margin-left: auto;
	margin-top: 5px;
	font-size: 10px;
	display: table;
	color: #666;
}
.comment_header{
	color: #999;
	margin-bottom: 15px;
}
.comment_author{
	color: #903;
	font-weight: bold;
}
.total_vot{
	font-size:9px;
}
.result_vot {
	color: white;
	padding: 5px;
	font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 0px 1px black;
	font-size: 12px;
}
.negative {
	background-color: #C00;
}
.positive {
	background-color: #9C0;
}
.neutral{
	background-color: #999;
}