#news_header{
	font-size:40px;
	font-family:Georgia;
	color:#333;
	border-bottom:5px solid #069;
	padding-bottom:15px;
	margin:20px 5px 20px 5px;
}
#sports_header{
	font-size:40px;
	font-family:Georgia;
	color:#333;
	border-bottom:5px solid #9C0;
	padding-bottom:15px;
	margin:20px 5px 20px 5px;
}
#opinion_header{
	font-size:40px;
	font-family:Georgia;
	color:#333;
	border-bottom:5px solid #F60;
	padding-bottom:15px;
	margin:20px 5px 20px 5px;
}
.articleBoxContent{
	font-size:12px;
	border-bottom:1px solid #CCC;
	padding:5px;
	margin-top:20px;
	
}
.lastBox{
	border-bottom:0px;
}
.article_title a{
	font-family:Georgia;
	font-size:24px;
	margin-bottom:5px;
	margin-top:15px;
	color:#333;
	}
.general_row .article_title a:hover{
	color:#069;
	text-decoration:none;
	}
.sports_row .article_title a:hover{
	color:#9C0;
	text-decoration:none;
	}
.opinion_row .article_title a:hover{
	color:#F60;
	text-decoration:none;
	}
.article_author{
	color:#999;
	font-size:11px;
	}
.general_row .article_date{
	color:#069;
}
.sports_row .article_date{
	color:#9C0;
}
.opinion_row .article_date{
	color:#F60;
}
.general_row .article_img{
	width:330px;
}
.sports_row .article_img{
	width:270px;
}
.opinion_row .article_img{
	width:270px;
}
.article_preview{
	margin-bottom:7px;
}
.article_info{
	text-align:right;
	margin-bottom:10px;
}
.article_comments{
	font-size:11px;
}
.thumb_img{
	vertical-align:bottom;
}