#news_header{
	font-size:40px;
	font-family:Georgia;
	color:#333;
	border-bottom:5px solid #069;
	padding-bottom:15px;
	margin:20px 5px 20px 5px;
}
#sports_header{
	font-size:40px;
	font-family:Georgia;
	color:#333;
	border-bottom:5px solid #9C0;
	padding-bottom:15px;
	margin:20px 5px 20px 5px;
}
#opinion_header{
	font-size:40px;
	font-family:Georgia;
	color:#333;
	border-bottom:5px solid #F60;
	padding-bottom:15px;
	margin:20px 5px 20px 5px;
}
.articleBoxContent{
	font-size:12px;
	border-bottom:1px solid #CCC;
	padding:5px;
	margin-top:20px;
	font-family:Verdana;
	
}
.lastBox{
	border-bottom:0px;
}
.article_title a{
	font-family:Georgia;
	font-size:24px;
	margin-bottom:5px;
	margin-top:15px;
	color:#333;
	}
.article_subtitle{
	font-family:Verdana;
	font-weight:bold;
	font-size:12;
	color:#000;
}
.general .article_title a:hover{
	color:#069;
	text-decoration:none;
	}
.sports .article_title a:hover{
	color:#9C0;
	text-decoration:none;
	}
.opinion .article_title a:hover{
	color:#F60;
	text-decoration:none;
	}
.article_author{
	color:#999;
	font-size:11px;
	font-family:Verdana;
	}
.general .article_date{
	color:#069;
	font-family:Verdana;
}
.sports .article_date{
	color:#9C0;
	font-family:Verdana;
}
.opinion .article_date{
	color:#F60;
	font-family:Verdana;
}
.article_img{
	width:290px;
}
.article_preview{
	margin-top:7px;
	margin-bottom:7px;
}
.article_info{
	text-align:right;
	margin-bottom:10px;
}
.article_comments{
	font-size:11px;
}
.thumb_img{
	vertical-align:bottom;
}