@charset "utf-8";
/* CSS Document */
a{
	text-decoration:none;
}
.header{
	margin-top:30px;
	line-height:0px;
}
.navigation{
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	background-color:#333;
	color:white;
}
.navigation ul{
	list-style:none;
    background:#2d2d2d;
    margin:0;
    padding:0;

}

.navigation li{
	display:inline-block;
    float:left;
}

.navigation li.search{
	float:right;
	margin-right:10px;
}

.navigation a{
    display:block;
    padding:10px;
    text-decoration:none;
    color:#bbbbbb;
    border-top:2px solid transparent;
}
.navigation a:hover{
    background:#3d3d3d;
    color:#dddddd;
}
.navigation li.active a{
    background:#3d3d3d;
    color:#dddddd;
    border-top:2px solid #9C0;
}
.navigation li.portada a:hover{
    background:#3d3d3d;
    color:#dddddd;
    border-top:2px solid #09F;
}
.navigation li.mes_llegits a:hover{
    background:#3d3d3d;
    color:#dddddd;
    border-top:2px solid #ff4800;
}
.navigation li.enquestes a:hover{
    background:#3d3d3d;
    color:#dddddd;
    border-top:2px solid #06F;
}
.navigation li.colabos a:hover{
    background:#3d3d3d;
    color:#dddddd;
    border-top:2px solid #FF0;
}
.navigation li.contacta a:hover{
    background:#3d3d3d;
    color:#dddddd;
    border-top:2px solid #F00;
}
.navigation li.envians a:hover{
    background:#3d3d3d;
    color:#dddddd;
    border-top:2px solid #fff;
}
.clearFloat{
    clear:both;
}
.category_bar{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#333;
	background-color:#fff;
	margin-bottom:10px;
	padding:5px;
	border:1px solid #CCC;
	border-top:hidden;
}
.category_bar a{
	color:#333;
}
.category_bar a:hover{
	color:#F30;
}
.submenu_active{
	font-weight:bold;
	color:#9C0;
}
.navigation form{
	margin:0;
	padding-top:9px;
}
.search-query{
	height:8px;
	width:100px;
	color:#777;
	font-size:11px;
	font-family:verdana;
}
.icon-search{
	vertical-align:-4px;
}
