// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section_header{
	padding:40px 0 10px 20px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 46px;
	color: #9C0;         
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
	width:95%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
}

.textarea_contact{
	width:290px;
}