.left_margin{
	margin-left:16px;
}
.left_padding{
	padding:5px 0 15px 20px;
}
.size_3{
	width:91%;
}
#error_explanation{
	margin-bottom:30px;
}
#error_explanation li{
	color:#666;
	list-style:none;
	padding:2px;
}
.user_account_alert{
	padding:15px;
	background-color:#f98690;
	border:1px solid #999;
	margin-bottom:10px;
}