#section_header{
	width:90%;
	font-size:36px;
}
#devise_block{
	padding:5px 20px 15px 20px;
	border:1px solid #ccc;
	width:400px;
	margin:40px auto 50px auto;
	background-color:#fcfcfc;
	-moz-box-shadow:0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #ccc;
}
#devise_block_extra{
	padding:5px 20px 15px 20px;
	background:white;
	border:1px solid #ccc;
	width:550px;
	margin:10px auto 30px auto;
}
.devise_field{
	font-size:14px;
	height:20px;
	margin:0;
	width:98%;
}
.left_margin{
	margin-left:16px;
}
#error_explanation{
	margin-bottom:30px;
}
#error_explanation li{
	color:#666;
	list-style:none;
	padding:2px;
}
.user_account_alert{
	padding:15px;
	background-color:#f98690;
	border:1px solid #999;
	margin-bottom:10px;
}
.password_notice{
	padding:10px;
	border:1px solid #666;
	background-color:#ecffcc;
	margin-bottom:20px;
	width:96%;
}