// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.description{
	width:580px;
	height:120px;
}
.name{
	font-size:22px;
	margin-bottom:15px;
	font-weight:bold;
}
.description_show{
	border:1px solid #ccc;
	background-color:#fffcd3;
	padding:10px;
	margin-bottom:15px;
	width:600px;
}