// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.description{
	width:98%;
	height:80px;
}
#event_title{
	padding:10px 0 10px 0;
	font-family:georgia;
	line-height:30px;
	font-size:30px;
	color:#555;
	border-bottom:1px solid #eee;
}
#event_description{
	margin-top:10px;
	background-color:#e2f4ff;
	border-left:4px solid #069;
	padding:10px;
}
.info_box{
	background-color:#dbf4a4;
	margin-top:8px;
	border-left:4px solid #b0d133;
	padding:7px;
}
#event_comment_content{
	width:600px;
}