// Place all the styles related to the polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#question {
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	padding: 5px;
	border: 1px solid #CCC;
	color: #333;
	margin-bottom: 20px;
	background-color: white;
}
.option {
	margin-top: 5px;
	background-color: white;
	padding: 3px 0 3px 6px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	border: 1px solid #CCC;
	border-left: 3px solid #ff5f00;
	color: black;
}
.option:hover {
	background-color: #ff5f00;
	border:1px solid #ff5f00;
	color: white;
}
.option_result_box {
	padding: 5px;
	border: 1px solid #DDD;
	margin-bottom: 3px;
	background-color: white;
}
.result_data{
	font-size:10px;
	color:#555;
}
#poll_link{
	text-align:center;
	margin-top:10px;
}
.poll_index_box{
	width:270px;
	float:left;
	margin-right:20px;
}
#poll_content{
	font-family:verdana;
}