// Place all the styles related to the RealTime controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box{
	border-bottom:1px dotted #E9E9E9;
	margin-bottom:10px;
	padding:5px;
	margin-left:auto;
	margin-right:auto;
}
.box.new:hover{
	background-color:#bddeed;
}
.box.comment:hover{
	background-color:#b5e5b5;
}
.box.vote:hover{
	background-color:#efb4b3;
}
.box.vote a{
	color:#b94a48;
}
.box.comment a{
	color:#468847;
}
.padding{
	padding:0 15px 15px 15px;
}
.time{
	padding-left:10px;
	padding-right:10px;
	font-weight:bold;
	color:#666;
	border-right:1px solid #ccc;
}
.text{
	padding-left:10px;
	padding-right:10px;
	border-left:1px solid #ccc;
}
.date{
	margin-top:20px;
	margin-bottom:10px;
	font-weight:bold;
	font-size:18px;
	color:#069;
	background-color:#f7f7f7;
	border:1px solid #e9e9e9;
	padding:5px 0 5px 10px;
}
.image{
	vertical-align:4px;
	padding-left:4px;
	padding-right:4px;
}
.filter{
	float:right;
}