<p>Benvingut <%= @resource.email %>!</p>

<p>Per confirmar el teu compte d'usuari fes clic al següent enllaç:</p>

<p><%= link_to "Confirmar el meu compte d'usuari", confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
