<p>Hola <%= @resource.email %>!</p>

<p>Sembla que has solicitat un canvi de contrasenya.</p>

<p><%= link_to 'Canviar la meva contrasenya', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no has solicitat res, ignora aquest email.</p>
<p>La teva contrasenya no canviarà mentres no cliquis al link de dalt.</p>
